h1 {
    border-top: solid;
    color: gold;
    border-bottom: solid;
    border-color: black;
    text-align: center;
    background: linear-gradient(grey,black,grey);
}
nav {
     text-align: center;
     font-weight: 600;
     color: gold;
}
div {
  width: 50%;
  margin: auto;
}
body {
      font-family: sans-serif;
      background: linear-gradient(grey,white,grey);
      height: 1000px;
      text-align: center;
    }
.center {
      display: block;
      margin-left: auto;
      margin-right: auto;
}
h4 {
      font-style: italic;
      font-weight: 30
      color:grey

}
